#Africa_text, #America_text, #Europe_text, #Sorry_text {
  display: none;  
}
@media (prefers-color-scheme: dark) {
  body.systemDarkPreference {
    background-color: black;
    color:gray;
  }
}
body{  
    
  font-size: 100%;
  /* background-color: currentColor; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Europe_text {    
    width: 1080px;
    height: 200px;
    max-width: 1920px;
    padding: inherit;
    padding-top: 2px;
    color: orange;
    padding-left: 1%;
    background-repeat: no-repeat;
    font-size: 125%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Europe{
  image-rendering:optimizeQuality;
  width: 100%;
  height: auto;  
}

#Africa_text {      
    width: 1080px;
    height: 1080px;
    max-width: 1080px;
    background-repeat: no-repeat;
    padding: inherit;
    padding-left: 1%;
    padding-top: 2px;
    color:rgb(255, 157, 0);  
    text-rendering: geometricPrecision;
    border: 10px;
    text-align:left;
    backface-visibility: visible; 
    font-size: 125%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Africa {
  background-origin: padding-box;
  opacity: 100;
  image-rendering:optimizeQuality;
  width: 100%;
  height: auto;
}

#America_text {    
    color:rgb(255, 136, 0);
    width: 1080px;
    height: 1080px;
    max-width: 1920px;
    padding: inherit;
    padding-top: 2px;
    padding-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    font-size: 125%;
    image-rendering:optimizeQuality;     
  
}

.America {
  image-rendering:optimizeQuality;
  opacity: 100%;
  width: 100%;
  height: auto;
  padding-top: 15px;
}

#Sorry_text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 125%;
  color: rgb(223, 39, 26);
  width: 100%;
  height: auto;
}

.jumbotron{
background-image: url('https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?cs=srgb&dl=pexels-pixabay-219998.jpg&fm=jpg');
background-size: cover;
height: 100%;
color: snow;
padding: 15px;
text-align: center;
width: 100%;
height: auto;
}
  
